@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(font?kit=uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVQ&skey=33bc0af28fd31bc7&v=v22) format('woff');
}
